<table>
  <tr>
    <td colspan="2"><img src="/images/intro1_pic.jpg" width="100%" /></td>
  </tr>
  <tr>
    <td colspan="2"><h3>즐거운 휴식이 있는 곳, "내안의 숲"</h3></td>
  </tr>
  <tr>
    <td colspan="2">
      <p style="font-size: 13px">저희 캠핑장은 부여 주요 문화재와 18분 가량 거리에 위치 해 있으며, 서천의 주요 관광지와의 거리도 대략 20분 내외에 위치 하고 있습니다.</br>
        캠핑장의 구성은 4인 방갈로 5개, 6인 방갈로 3개, 일반사이트 65개,데크사이트 5개 로 구성이 되어있으며, 편의 시설로는 개수대, 화장실, 전기,
         온수가능 샤워실, 매점, 수영장 등이 있습니다.
          연중 운영이 되며 각 계절별로 특색이있는 볼거리와 즐길거리가 있는 캠핑장입니다.</br>
      </p>
      <p style="font-size: 13px">봄에는 내안의 숲의 자랑중 하나인 반딧불이를 캠핑장 내에서 관찰 하실 수 있으며, 근처 농가로 딸기체험등을 하실 수 있습니다.</br>
              여름에는 10x20m의 대형 수영장에서 즐거운 물놀이가 가능합니다.</br>
              가을에는 토실토실한 알밤을 주으시는 밤줍기 체험을 하실 수 있습니다.</br>
              겨울에는 낭만적인 설경을 감상하시고, 눈썰매 얼음썰매등을 체험 하실 수 있습니다.</br>
      </p>
      <p style="font-size: 13px">또한 내안의 숲 캠핑장 내부에 편백나무숲을 둘러 산책로가 잘 정비되어 있어서 산림욕을 하시며 산책등을 즐기실 수도 있습니다.</br>
        매점에서는 캠핑에 필요한 기초적인 생필품과 장작등을 판매하고 있으며, 관리자가 상주를 하고있어 보다 편하게 이용 하실 수 있습니다.
      </p>
    </td>
  </tr>
</table>
<div style="margin-top: 50px"></div>

<div style="margin: 15px">
  <h3 class="ui dividing header">내안의 숲 특징</h3>
  <div class="ui link three stackable cards">
    <div class="card">
      <div class="image">
        <img src="/images/info1_pic2.jpg" />
      </div>
      <div class="content">
        <div class="header">반딧불이 체험</div>
        <div class="meta">
          <a style="font-size: 13px">봄</a>
        </div>
        <div class="description">
          <font size="2px"
            >내안의 숲의 자랑중 하나인 반딧불이를 캠핑장 내에서 관찰 하실 수 있습니다.</font
          >
        </div>
      </div>
    </div>

    <div class="card">
      <div class="image">
        <img src="/images/info1_pic3.jpg" />
      </div>
      <div class="content">
        <div class="header">딸기체험</div>
        <div class="meta">
          <a style="font-size: 13px">봄</a>
        </div>
        <div class="description">
          <font size="2px">근처 농가로 딸기체험등을 하실 수 있습니다.</font>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="image">
        <img src="/images/info1_pic4.jpg" />
      </div>
      <div class="content">
        <div class="header">물놀이</div>
        <div class="meta">
          <a style="font-size: 13px">여름</a>
        </div>
        <div class="description">
          <font size="2px"> 10x20m의 대형 수영장에서 즐거운 물놀이가 가능합니다. </font>
        </div>
      </div>
    </div>
  </div>

  <div class="ui link three stackable cards">
    <div class="card">
      <div class="image">
        <img src="/images/info1_pic5.jpg" />
      </div>
      <div class="content">
        <div class="header">밤줍기 체험</div>
        <div class="meta">
          <a style="font-size: 13px">가을</a>
        </div>
        <div class="description">
          <font size="2px"> 토실토실한 알밤을 주으시는 밤줍기 체험을 하실 수 있습니다. </font>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="/images/info1_pic6.jpg" />
      </div>
      <div class="content">
        <div class="header">설경/눈썰매체험</div>
        <div class="meta">
          <a style="font-size: 13px">겨울</a>
        </div>
        <div class="description">
          <font size="2px">
            낭만적인 설경을 감상하시고, 눈썰매 얼음썰매등을 체험 하실 수 있습니다.
          </font>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="image">
        <img src="/images/info1_pic7.jpg" />
      </div>
      <div class="content">
        <div class="header">맑은공기/산림욕</div>
        <div class="meta">
          <a style="font-size: 13px">봄/여름/가을/겨울</a>
        </div>
        <div class="description">
          <font size="2px">
            내안의 숲 캠핑장 내부에 편백나무숲을 둘러 산책로가 잘 정비되어 있어서 산림욕을 하시며
            산책등을 즐기실 수도 있습니다.
          </font>
        </div>
      </div>
    </div>
  </div>
</div>
