<!DOCTYPE html>
<html>
  <head>
<link rel="stylesheet" type="text/css" href="/semantic.min.css">
			<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
			<script src="/semantic.min.js"></script>
            </head>

<% if(!session.isadmin) { %>
 <script>
    alert("관리자가 아니면 접근할수 없습니다.");
    location.href="/"
    </script>
<% } else{ %>
<% } %>
<% include admin_header.html %>
    <button class="ui button" onclick="location.href='/admin/admin_reservation'">
      관리자 예약 승인
    </button>
    <button class="ui button" onclick="location.href='/admin/admin_room'">
      관리자 방 관리
    </button>

</html>
