<div class="ui inverted menu">
  <div class="header item" style="font-size:18px">
	  <strong>Admin Page</strong>
  </div>
  <a id="book" href="/admin/admin_reservation" class="item">
    관리자 예약승인
  </a>
  <a id="room" href="/admin/admin_room" class="item">
    관리자 방관리
  </a>
  <a id="advertise" href="/admin/admin_advertise" class="item">
    광고 관리
  </a>
  <a id="visit" class="item" href="/admin/admin_visit/passing/1/today">
    방문자 통계
  </a>
  <a id="users" href="/admin/admin_users/passing/1" class="item">
    사용자 관리
  </a>
  <a id="camping" href="/admin/camping_info/bluebird" class="item">
    캠핑장 정보설정
  </a>
  <div class="right menu">
	  <a class="item" href="/">
		  Homepage로 이동
	  </a>
  </div>
</div>
