<!DOCTYPE html>
<html>
  <head>
  	<title>내안의숲 오토캠핑장</title>
<meta name="description" content="내안의숲(계백) 오토캠핑장 홈페이지입니다. #내안의숲 #부여캠핑장 #캠핑장 #오토캠핑장 #데크사이트 #방갈로 #펜션예약">
<meta name="robots" content="index,follow">
<meta property="og:type" content="website">
<meta property="og:title" content="내안의숲(계백) 오토캠핑장">
<meta property="og:description" content="부여에 위치한 내안의숲 오토캠핑장 홈페이지입니다">
<meta property="og:image" content="https://www.xn--220bt54ayhcmwc.com/images/myforestlogo.png">
<meta property="og:url" content="https://www.xn--220bt54ayhcmwc.com">
			<link rel="stylesheet" type="text/css" href="/semantic.min.css">
			<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
			<script src="/semantic.min.js"></script>
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

			<script>
					$(document)
						.ready(function() {

							// fix main menu to page on passing

							// show dropdown on hover
							$('.ui.dropdown').dropdown({
								on: 'hover',
								action:'nothing'
							});
						})
					;
					</script>
			<style>
			#menu{
				margin-right: 50px;
				color: black;
				height: 60px;
				font-size: 18px;
				font-weight: bold;
				margin-bottom: 0px;
			}
			#top{
				width: 100%;
				background-color: rgb(107, 107, 107);
				height: 35px;
			}
			#topmenu{
				margin-top:0px;
				height: 35px;
			}
			#main{
				margin-top:0;
				width: 100%;
				height: 100%;
			}
			#main_menu{
				height: 50px;
				background-color: white;
			}

			#border{
				height: 10px;
				background: rgb(71, 175, 71);
				margin-bottom: 5px;
			}

			#border2{
				height: 1px;
				background: rgb(107, 107, 107);
			}

			#demo-1 {
			overflow: hidden; /* to bound the empty top space created by inner element's top margin */
			position: relative; /* can either be relative, absolute or fixed. If position is not set (i.e. static), it would be set to "relative" by script */
			width: 100%;
			height: 500px;
			background-color: #f0f0f0;
		}
		#submenu{
			font-size: 15px;
		}
		.demo-inner-content {
			position: relative; /* if position is not set, the script will set it to 'relative'. */
			z-index: 2; /* if z-index is not set, the script will set it to '2'. */
			margin: 70px auto;
			padding: 40px;
			max-height: 500px;
			color: #fff;
			text-align: center;
			font-size: 1.5em;
		}

		.demo-inner-content h1 {
			font-size: 2.5em;
			margin: 0;
		}
		#container{
			width: 100%;
			height: 140px;
		}
		#container2{
			min-height: 400px auto;
		}
		#footer{
			font-style: normal;
			height: 120px;
		}
#content_left{
	width:25%;
}

#content_right{
	width:75%;
}

#load {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: block;
	opacity: 1.0;
	background: white;
	z-index: 99;
	text-align: center;
}

#img {
	position: absolute;
	top: 45%;
	left: 48%;
	z-index: 100;
}
#load > p {
	position: relative;
	z-index: 100;
}

.top_box1{
	float: left;
	width: 50%;
	height: 100%;
}
.top_box2{
	display: inline-block;
	width: 50%;
	height: 100%;
	text-align: right;
}
			</style>
<script>
	function loading_show(){
	$('#load').show();
	}
	function loading_hide(){
	//$('#load').hide();
	$('#load')
.transition({animation:'fade',duration:'600ms'})
;
	}
	function page_move(renderpage){
				location.href=renderpage;
			}

			function mouse_on(obj){
				obj.style.background = "#cecece";
				obj.style.fontWeight= "bold";
				var tag = obj.getElementsByTagName('i');
				tag[0].style.display = "inline";
			}

			function mouse_off(obj){
				obj.style.background = "white";
				obj.style.fontWeight= "lighter";
				var tag = obj.getElementsByTagName('i');
				tag[0].style.display = "none";
            }
	</script>
  </head>
	<body>
			<div id="load">
					<div id="img"><img src="/images/loading1.gif" alt="loading..."><br><strong>Loading...</strong></div>
				</div>
		<div id="main">
				<% include header.html %>
			<div id="border" ></div>
			<div id="border2" ></div>
			<div id=container style="background:url('/images/introtop.jpg');background-size:cover;background-repeat: no-repeat;">
		</div>
		<div id="container2" class="ui container">
					<div class="ui stackable two column grid">
							<div id="content_left" class="column">
									<table border=1 cellspacing="0" cellpadding="20px" style="width:100%;border-collapse:collapse; border:1px;border-color: rgb(148, 148, 148)">
                                        <tr><td style="height:100px;text-align: center;color:white;background:green;font-size:18px;"><strong>실시간 예약</strong></td></tr>
                                        <tr><td style="background: #cecece;"><i class="fas fa-check" style="margin-right: 10px;display:inline"></i><strong>요금 안내</strong></td></tr>
										<tr><td style= "cursor:pointer" onmouseover="mouse_on(this)" onmouseout="mouse_off(this)" onclick="location.href='/booking'">
												<i class="fas fa-check" style="margin-right: 10px;display:none;"></i>
                                            예약 하기</td></tr>
										<tr><td style= "cursor:pointer" onmouseover="mouse_on(this)" onmouseout="mouse_off(this)" onclick="location.href='/booking_reservation'">
												<i class="fas fa-check" style="margin-right: 10px;display:none;"></i>
												현재 예약 정보 </td></tr>

										<% if(session.logined=="yes"){ %>
										            <tr>
              <td style="cursor:pointer" onmouseover="mouse_on(this)" onmouseout="mouse_off(this)" onclick="location.href='/last_reservation'">
                <i class="fas fa-check" style="margin-right: 10px;display:none;"></i>이전 예약 정보
              </td>
            </tr>
	    <%}%>

										</table>
							</div>
							<div id="content_right" class="column">
									<table border=0 cellspacing="0" cellpadding="15px" style="margin-top:20px;width:100%;border-collapse:collapse; border:1px;border-color: rgb(148, 148, 148)">
										<tr><td style="width: 50%"><strong><h2>객실 요금 안내</h2></strong><p style="margin-top:10px">캠핑장 객실요금  안내입니다.<br> - 성수기 기준 :  7월1일~8월31일까지 입니다.</p>
                                                <hr align="left" style="width: 15%;border:solid 2px green"></td>
                                                <td  style="width: 50%;text-align: right;vertical-align: text-top"><i class="fas fa-home" style="color: green"></i>&nbsp;&nbsp;HOME&nbsp;&nbsp;<i class="fas fa-angle-right"></i>
                                                    &nbsp;&nbsp;실시간 예약&nbsp;&nbsp;<i class="fas fa-angle-right"></i>&nbsp;&nbsp;요금 안내&nbsp;&nbsp;
                                                </td></tr>
                                            </table>



                                            <div style="margin-top:30px">
                                                    <h3 class="ui dividing header">
                                                            요금 안내
                                                    </h3>
                                                   <table class="ui celled structured table" style="text-align: center">
                                                            <thead>
                                                              <tr><th>구분</th>
                                                              <th>이름</th>
                                                              <th>개수</th>
                                                              <th>기준인원</th>
                                                              <th>성수기요금</th>
                                                              <th>비수기요금</th>
                                                              <th style="width: 25%">옵션</th>
                                                             
                                                            </tr></thead>
                                                            <tbody>
                                                              <tr>
                                                                <td  rowspan="5">방갈로</td>
                                                                <td >꾀꼬리</td>
                                                                <td ><%= data[8].room_cnt %></td>
                                                                <td ><%= data[8].standnum %></td>
                                                                <td ><%= data[8].room_peakcharge %></td>
                                                                <td ><%= data[8].room_lowcharge %></td>
                                                                <td ><%= data[8].coption %></td>
                                                                
                                                              </tr>
                                                              <tr>
                                                                   <td >파랑새</td>
                                                                <td ><%= data[0].room_cnt %></td>
                                                                <td ><%= data[0].standnum %></td>
                                                                <td ><%= data[0].room_peakcharge %></td>
                                                                <td ><%= data[0].room_lowcharge %></td>
                                                                <td ><%= data[0].coption %></td>
                                                                   
                                                              </tr>
                                                              <tr>
                                                                   <td >부엉이</td>
                                                                <td ><%= data[1].room_cnt %></td>
                                                                <td ><%= data[1].standnum %></td>
                                                                <td ><%= data[1].room_peakcharge %></td>
                                                                <td ><%= data[1].room_lowcharge %></td>
                                                                <td ><%= data[1].coption %></td>
                                                                   
                                                              </tr>
                                                              <tr>
                                                                   <td >뻐꾸기</td>
                                                                <td ><%= data[7].room_cnt %></td>
                                                                <td ><%= data[7].standnum %></td>
                                                                <td ><%= data[7].room_peakcharge %></td>
                                                                <td ><%= data[7].room_lowcharge %></td>
                                                                <td ><%= data[7].coption %></td>
                                                                  
                                                                  </tr>
                                                                  <tr>
                                                                       <td >소쩍새</td>
                                                                <td ><%= data[4].room_cnt %></td>
                                                                <td ><%= data[4].standnum %></td>
                                                                <td ><%= data[4].room_peakcharge %></td>
                                                                <td ><%= data[4].room_lowcharge %></td>
                                                                <td ><%= data[4].coption %></td>
                                                                      </tr>
                                                                      <tr>
                                                                            <td rowspan="2">일반텐트</td>
                                                                            <td >느티나무구역</td>
                                                                            <td ><%= data[6].room_cnt %></td>
                                                                <td ><%= data[6].standnum %></td>
                                                                <td ><%= data[6].room_peakcharge %></td>
                                                                <td ><%= data[6].room_lowcharge %></td>
                                                                <td ><%= data[6].coption %></td>
                                                                           
                                                                          </tr>
                                                                          <tr>
                                                                                 <td >편백나무구역</td>
                                                                                <td ><%= data[5].room_cnt %></td>
                                                                <td ><%= data[5].standnum %></td>
                                                                <td ><%= data[5].room_peakcharge %></td>
                                                                <td ><%= data[5].room_lowcharge %></td>
                                                                <td ><%= data[5].coption %></td>
                                                                               
                                                                              </tr>
                                                                          <tr>
                                                                                <td >데크</td>
                                                                                <td >너구리</td>
                                                                               <td ><%= data[3].room_cnt %></td>
                                                                <td ><%= data[3].standnum %></td>
                                                                <td ><%= data[3].room_peakcharge %></td>
                                                                <td ><%= data[3].room_lowcharge %></td>
                                                                <td ><%= data[3].coption %></td>
                                                                             
                                                                              </tr>
                                                                              <tr>
                                                                                    <td >펜션</td>
                                                                                    <td >펜션</td>
                                                                                    <td ><%= data[2].room_cnt %></td>
                                                                <td ><%= data[2].standnum %></td>
                                                                <td ><%= data[2].room_peakcharge %></td>
                                                                <td ><%= data[2].room_lowcharge %></td>
                                                                <td ><%= data[2].coption %></td>
                                                                                  </tr>
                                                            </tbody>
                                                          </table>
                                            </div>
                                            <div style="height:100px"></div>
							</div>
						</div>
			<!--내안의숲소개 캠핑장안내도 요금안내 예약하기 예약확인
				공지사항ㅡ문의사항 찾아오시는길-->
			</div>
		<!--footer-->
		<% include footer.html %>
	</div>

	</body>
  	<script>
			setTimeout(function(){
						loading_hide();
					},400);
					</script>
</html>
