<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>




  <script>
    function call_reservation_nologin() {
      $.ajax({
        type: "POST"
        , url: "/reserve/rev_timer"
        , data: { username: "<%= username %>", userphone: "<%= userphone %>", limit: 0 }
        , cache: false
        , success: function (data) {
          create_table(data.timer);
          set_timer(data.timer);
          rev_pagenavi(data.max_rev, data.cnt);

        }
        , error: function (data) {
          alert("err");
        }
      });

    }
    $(document)
      .ready(function () {
        // fix main menu to page on passing
        call_reservation_nologin();
        // show dropdown on hover
        $('.ui.dropdown').dropdown({
          on: 'hover',
          action: 'nothing'
        });
      });
  </script>
  <style>
    #load {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: fixed;
      display: block;
      opacity: 1.0;
      background: white;
      z-index: 99;
      text-align: center;
    }

    #img {
      position: absolute;
      top: 40%;
      left: 40%;
      z-index: 100;
    }

    #load>p {
      position: relative;
      z-index: 100;
    }

    #hide {
      display: none;
    }

    #deposit_check,
    #timer0,
    #timer1,
    #timer2,
    #timer3,
    #timer4,
    #timer5,
    #timer6,
    #timer7,
    #timer8,
    #timer9 {
      font-size: 14px;
      font-wieght: bold;
    }

    /*
  font-weight:bold;
*/
  </style>
  <script>
    function loading_show() {
      $('#load').show();
    }

    function loading_hide() {
      //$('#load').hide();
      $('#load').fadeOut('slow');
    }

    function page_move(renderpage) {
      location.href = renderpage;
    }

    function mouse_on(obj) {
      obj.style.background = "#cecece";
      obj.style.fontWeight = "bold";
      var tag = obj.getElementsByTagName('i');
      tag[0].style.display = "inline";
    }

    function mouse_off(obj) {
      obj.style.background = "white";
      obj.style.fontWeight = "lighter";
      var tag = obj.getElementsByTagName('i');
      tag[0].style.display = "none";
    }
  </script>
</head>

<body>
  <div id="load">
    <div id="img"><img src="/images/loading1.gif" alt="loading..."></div>
  </div>
  <% include header_mobile.html %>
    <div class="container">
      <div class="alert alert-success" role="alert">
        <strong>예약현황안내</strong>
        <hr>
        <span style="font-size:12px">
          - 예약신청후 12시간 이내에 예약금이 되지않으면 예약이 자동취소됩니다.<br>
          - 입금전 예약취소가 가능하며, 예약승인후에는 환불신청버튼을 사용하여주세요.<br>
          - 이름과 휴대폰번호를 다음과같이 명확히 입력하셔야 정보확인이 가능합니다.<br>
          - 비로그인상태에서 예약 -> 이름과 휴대폰번호로 조회<br>
          - 로그인상태에서 예약 -> 로그인후에 예약확인시 확인가능 <br>
          예시) <br>이름 : 계백장군<br>
          휴대폰번호 : 010-1234-5678<br>
        </span>

      </div>

      <div>

        <div id="rev_table">
          <div id="table_body"></div>
        </div>

        <div style="text-align:center;margin-top:20px;margin-bottom:20px" ;>
          <div id="rev_page">
          </div>
        </div>

      </div>
      <button type="button" class="btn btn-warning btn-lg btn-block" id="cancel">예약취소</button>
      <button type="button" class="btn btn-danger btn-lg btn-block" id="refund">환불신청</button>

      <form name="rev_frm" method="post">
      </form>
      
      <!-- 환불 신청 모달-->
      <% include refund_request_mobile.html %>

      <!-- 환불 정보 모달-->
      <% include refund_info_mobile.html %>

      <div style="height:100px"></div>
      <!--footer-->
      <% include footer_mobile.html %>
    </div>
    <script defer src="/js/reservation_management.js"></script>
    <script defer src="/js/reserve_timer_mobile.js"></script>
    <script>
      setTimeout(function () {
        loading_hide();
      }, 400);
    </script>

</body>

</html>