<!DOCTYPE html> 
<head>
    <meta charset="utf-8">
     
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/semantic.min.css">
    <script src="/semantic.min.js"></script>
        
    <link rel="stylesheet" href="/js/swiper/swiper.css">
    <link rel="stylesheet" href="/js/swiper/swiper.min.css">
    
    <script src="/js/swiper/swiper.js"></script>
    <script src="/js/swiper/swiper.min.js"></script>
    <script src="/js/booking.js"></script>
    <link rel="stylesheet" href="/css/booking.css">
    <script type="text/javascript" src="/js/booking_check.js"></script>
    
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">

    
<body>
<div id="wrap">
	<div id="top">
		<% include top.html %>
	</div>
	<!--
    <header>
        <div class="ui text menu">
            <div class="ui container">
                <a class="item">
                    Home Example Log
                </a>

                <div class="right menu">
                    <a class="item">
                        My_Booking
                    </a>
                    <a class="item">
                        login/logout
                    </a>
                </div> 
            </div>
        </div>
    </header>-->

    <div id="wrap_select">
        <div class="ui grid container">
            <div class="eight wide column">
                <div class="left_select">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <%
                            if(data[11].picture==""){
%>
<li class="swiper-slide"><img src="/images/noimage.gif"></li>
<%
}else{
var arr = JSON.parse(data[11].picture); 
arr.forEach((item,index)=>{
%>
<li class="swiper-slide"><img src="/camp_image/<%=item.filename %>"></li>
<%
});
}
%>
                        </div>
                        
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                    
                    <div class="select_day">
                        <h2 class="getroomname">기타2</h2>  
                        
                        <div class="calendar_select">
                                <span> 입실일 : <span id="first_select_day"> <%= f_day %> ~</span></span>
                                <span> 퇴실일 : <span id="last_select_day"> <%= l_day %></span></span>
                            </div>
    
                        <div class="alert_day">
                            <span id="alert_days"><%= days %></span>
                        </div>

                    </div>

                    <div class="camp_info">
                        <div class="icon">
                            <div class="icon_labeld">
                                <img src="icon/refrigerator.png">
                                <p class="icon_text">냉장고</p>
                            </div>

                            <div class="icon_labeld">
                                <img src="icon/fan.png">
                                <p class="icon_text">선풍기</p>
                            </div>
                            
                            <div class="icon_labeld">
                                <img src="icon/cooler.png">
                                <p class="icon_text">에어컨</p>
                            </div>

                            <div class="icon_labeld">
                                <img src="icon/electricity.png">
                                <p class="icon_text">전기</p>
                            </div>

                            <div class="icon_labeld">
                                <img src="icon/ondol.png">
                                <p class="icon_text">전기 온돌</p>
                            </div>

                            <div class="icon_labeld">
                                <img src="icon/chair.png">
                                <p class="icon_text">야외 테라스</p>
                            </div>
                        </div>
                        
                    </div>

                    <div class="room_info">
                        <h3>기준 숙박인원 <%= data[11].standnum %>명 / 최대 숙박인원 <%= data[11].maxnum %>명</h3>
                        <div>
                       <%- data[11].pagetext %>
                        </div>
                    </div>
                </div>
            </div>
          
            <div class="eight wide column">
                <div class="right_select">
                    <h3 class="h3_title">예약 정보</h3>

                    <div>
                        <form name="sec_room" action="/reserve/room_reserve" method="post">
                            <input type="hidden" name="f_day" value=<%= f_day %>>
                            <input type="hidden" name="l_day" value=<%= l_day %>>
                            <input type="hidden" name="s_day" value=<%= sec_day%>> 
                            <input type="hidden" name="room_name">
                            <input type="hidden" name="room_type" value="secondetc">
                            <input type="hidden" name="last_field" value="0">

                            <div class="booking_info">
        <label> 예약자</label>

                                <div class="ui input">
                                        <%if(!session.name||session.name==""||session.logined!="yes") {%>
                                                <input type="text" name="user_name" placeholder="예약자 성함">
                                        <input type="hidden" name="user_id" value="nologin" >
                                        <%}else{%>
                                        <%if(session.name!="annoymous"){%>
                                        <input type="text" name="user_name" value="<%=session.name%>">
                                        <%}else{%>
                                                <input type="text" name="user_name" placeholder="예약자 성함">
                                                <%}%>
                                        <input type="hidden" name="user_id" value="<%=session.userid%>" >
                                        <%}%>
                                </div>
                            </div>
 
                            <div class="booking_info">
                                <label> 연락처</label> 
        
                                <div class="ui input">
                                    <input  type="text" onKeyup="inputPhoneNumber(this);" name="user_phone" placeholder="휴대폰 번호">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>  

                <br>
                <div class="room_index">
                    <h3 class="index_title">방 구역 선택</h3>

                    <div class="select_room_index">
                    </div>
                </div> 
                <div class="price_data" style="display:none"><%= price %></div>
                <br>
                <div class="select_info">
                    <h3 class="h3_title">선택 내역</h3>

                    <div class="select_price">
                        <div class="price">
                            <span style="padding-right:10px;"> 기본 요금 </span> <span class="default_price"><%= price %></span>
                        </div>
                        <div class="total_price">
                            <span style="padding-right:10px;">합계 금액 </span> <span class="sum_price"><%= price %></span>
                        </div>
                    </div>
                </div>

 
                
                <br>
                <div class="paytype">
                    <h3 class="h3_title">결제 방식</h3>

                    <div>
                        <p>농협은행 / 463131-52-138136 / 장택순( 010 5691 5058 )</p>
                    </div>
                </div>

                <br>
                <div class="terms">
                    <h3 class="h3_title">이용 약관</h3>

                    <div class="terms_agree">
                        <div class="ui checkbox">
                            <input type="checkbox" id="checkboxcontroll">
                            <label><h3>약관 전체 동의</h3></label>
                        </div>
                    </div>

                        <div class="terms_info">        
                            <div class="ui checkbox">
                                <input type="checkbox" name="booking_terms" id="terms_1">
                                <label>개인정보 수집 동의 <p id="collection">(상세 보기)</p> </label>
                            </div>

     
                            
                            <div class="ui checkbox">
                                <input type="checkbox" name="booking_terms" id="terms_2">
                                <label>개인정보 제공 동의 <p id="provision">(상세 보기)</p></label>
                            </div>

                            <div class="ui checkbox" id="cancel_terms">
                                <input type="checkbox" name="booking_terms" id="terms_3">
                                <label>취소/환뷸 규정 동의</label>

                                <table>
                                    <colgroup>
                                        <col>
                                        <col>
                                    </colgroup>
                                    <tobdy>
                                        <tr>
                                            <td scope="col" class="td_left">이용 10일 전까지</td>
                                            <td scope="col" class="td_right">취소 수수료 없음</td>
                                        </tr>

                                        <tr>
                                            <td scope="col" class="td_left">이용 &nbsp;&nbsp;7일 전까지</td>
                                            <td scope="col" class="td_right">총 결제 금액의 10% 차감</td>
                                        </tr>

                                        <tr>
                                            <td scope="col" class="td_left">이용 &nbsp;&nbsp;5일 전까지</td>
                                            <td scope="col" class="td_right">총 결제 금액의 30% 차감</td>
                                        </tr>

                                        <tr>
                                            <td scope="col" class="td_left">이용 &nbsp;&nbsp;3일 전까지</td>
                                            <td scope="col" class="td_right">총 결제 금액의 50% 차감</td>
                                        </tr>

                                        <tr>
                                            <td scope="col" class="td_left">이용 &nbsp;&nbsp;1일 전까지</td>
                                            <td scope="col" class="td_right">총 결제 금액의 80% 차감</td>
                                        </tr>
                                    </tobdy>
                                </table>
                                <div class="cancel_info">
                                    <p>
                                        - 실시간 예약의 특성상 100% 일치할 수 없으며 경우에 따라 중복예약이 발생할 수 있습니다.<br>
                                        - 중복 예약 발생시 먼저 결제 된 예약이 우선시 됩니다.<br>
					- 예약 신청 후 12시간 이내 입금 확인이 이루어지지 않으면 예약이 자동으로 취소됩니다.<br>
                                        - 객실 요금은 기준 인원에 대한 요금이며 인원 추가시 추가 요금이 발생합니다. <br>
                                        - 추가 요금 발생시 내안의숲 오토캠핑장의 사정에 따라서 현장 결제가 가능합니다.<br>
                                        - 예약 취소시 환불 기준에 맞춰 환불됩니다.<br>
                                    </p>
                                </div>
                            </div>
                        </div>
                </div>
                
                <br>
                <div class="btn">
			<button onclick=javascript:<%if (session.name!="annoymous") {%>terms();<%}else{%>anno_terms();<%}%> > 예약 신청</button>
                </div>
            </div> 
        </div> 
    </div>
</div>


<div class="ui modal" id="collection_detail">
    <i class="close icon"></i>
    <div class="header">
        <h3 class="ui header">회원이용약관(필수)</h3>
    </div>

    <!--<div class="modal_body">-->
    <% include personal_information_terms.html %>
    <!--</div> -->
</div>

<div class="ui modal" id="provision_detail">
        <i class="close icon"></i>
        <div class="header">
            <h3 class="ui header">개인정보 수집 및 이용동의(필수)</h3>
        </div>
    
        <% include collect_use_terms.html %>
</div>


<script>
var swiper = new Swiper('.swiper-container', {
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
});

</script>
</body>

</head>
</html>
