<script type="text/javascript" src="/js/HuskyEZCreator.js" charset="utf-8"></script>
<div id="explan_div2" class="ui container">
<form class="ui form" method="POST" action="/admin/camping_explan/<%= params.roomtype %>">
        <div class="field" style="margin-top:20px">
                <input type="hidden" class="form-control" id="roomtype" name= "roomtype" value = "<%= params.roomtype %>" disabled>
                </div>
<div class="field" style="margin-top:10px">
<textarea name="ir1" id="ir1" rows="10" cols="100" style="width:100%; height:412px; display:none;"></textarea>
<!--<input type="hidden" class="form-control" id="contents" name="contents">-->
</div>
<div class="field" style="margin-top:20px;text-align: center">
<button type="button" onSubmit="return false;" onclick="submitContents(this)" class="ui positive button">수정</button>
</div>
</form>
</div>
<script type="text/javascript">
    var oEditors = [];
    
    // 추가 글꼴 목록
    //var aAdditionalFontSet = [["MS UI Gothic", "MS UI Gothic"], ["Comic Sans MS", "Comic Sans MS"],["TEST","TEST"]];
    
    nhn.husky.EZCreator.createInIFrame({
        oAppRef: oEditors,
        elPlaceHolder: "ir1",
        sSkinURI: "/SmartEditor2Skin.html",	
        htParams : {
            bUseToolbar : true,				// 툴바 사용 여부 (true:사용/ false:사용하지 않음)
            bUseVerticalResizer : true,		// 입력창 크기 조절바 사용 여부 (true:사용/ false:사용하지 않음)
            bUseModeChanger : true,			// 모드 탭(Editor | HTML | TEXT) 사용 여부 (true:사용/ false:사용하지 않음)
            //bSkipXssFilter : true,		// client-side xss filter 무시 여부 (true:사용하지 않음 / 그외:사용)
            //aAdditionalFontList : aAdditionalFontSet,		// 추가 글꼴 목록
            fOnBeforeUnload : function(){
                //alert("완료!");
            }
        }, //boolean
        fOnAppLoad : function(){
            //예제 코드
            var Shtml = new Array();
            //var contents = "test";
            var contents = "<%- contents %>";
            Shtml.push(contents);
            oEditors.getById["ir1"].exec("PASTE_HTML", Shtml);
        },
        fCreator: "createSEditor2"
    });
    function pasteHTML() {
        var sHTML = "<%- contents %>";
        oEditors.getById["ir1"].exec("PASTE_HTML", [sHTML]);
    }
    
    function showHTML() {
        var sHTML = oEditors.getById["ir1"].getIR();
        alert(sHTML);
    }
        
    function submitContents(elClickedObj) {
        oEditors.getById["ir1"].exec("UPDATE_CONTENTS_FIELD", []);	// 에디터의 내용이 textarea에 적용됩니다.
        
        // 에디터의 내용에 대한 값 검증은 이곳에서 document.getElementById("ir1").value를 이용해서 처리하면 됩니다.
        
        try {
            elClickedObj.form.submit();
        } catch(e) {}
    }
    
    function setDefaultFont() {
        var sDefaultFont = '궁서';
        var nFontSize = 24;
        oEditors.getById["ir1"].setDefaultFont(sDefaultFont, nFontSize);
    }
    //pasteHTML()
    </script>