<link rel="stylesheet" type="text/css" href="/css/banner.css" />
<link rel="stylesheet" type="text/css" href="/css/simpleBanner.css" />
<link rel="stylesheet" type="text/css" href="/css/header.css" />
<div class="ui modal head">

    <div class="header" style="background: seagreen;color:snow">
        전체 메뉴
    </div>
    <div class="content">
        <div class="description">
            <table class="ui striped table" style="text-align: center">
                <thead>
                    <tr>
                        <th>캠핑장소개</th>
                        <th>시설 소개</th>
                        <th>실시간 예약</th>
                        <th>커뮤니티</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="/info1">내안의 숲 소개</a></td>
                        <td><a href="/campinfo1">캠핑장 안내도</a></td>
                        <td><a href="/booking_price">요금안내</a></td>
                        <td><a href="/notice">공지사항</a></td>
                    </tr>
                    <tr>
                        <td><a href="/info2">주변관광지</a></td>
                        <td><a href="/campinfo2">방갈로 소개</a></td>
                        <td>예약하기</td>
                        <td><a href="/photo">포토갤러리</a></td>
                    </tr>
                    <tr>
                        <td><a href="/info3">찾아오시는길</a></td>
                        <td><a href="/campinfo3">데크사이트 소개</a></td>
                        <td>예약확인</td>
                        <td><a href="/review">내안의 숲 후기</a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><a href="/campinfo4">펜션 소개</a></td>
                        <td></td>
                        <td><a href="/qna">문의게시판</a></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            닫기
        </div>
    </div>
</div>

<div id="top">
    <div id="topmenu" class="ui container">
        <div class="top_box1" style="color:white">
            <table style="height: 100%;margin-left: 5px;width: 100%" border=0>
                <tr>
                    <td style="width:50%;vertical-align: middle;text-align:left">
                        <i class="fas fa-volume-up" style="margin-right: 10px"></i> 암호화통신(SSL)에 의해 보호 중

                    </td>
                    <td style="width:50%;vertical-align: middle;text-align: right">
                        <%if(session.logined=="yes"){%>
                            <%=session.nickname%> 님 환영합니다.
                    </td>
                    <td style="vertical-align: middle">
                        <a href="#" style="margin-right:15px" onclick="logout();"><input height="26px" type="image"
                                src="/images/logout.png"></a>
                    </td>
                    <%}else{%>
                        <a href="#" style="margin-right:10px" onclick="login();"><input height="26px" type="image"
                                src="/images/naverlogin.png"></a>
                        <a href="#" style="margin-right:15px" onclick="sitemap_show()"><input height="26px" type="image"
                                src="/images/sitemap.png"></a>
                        </td>
                        <%}%>
                </tr>
            </table>
        </div>

    </div>
</div>
<div id="border2"></div>
<header>
    <div id="main_menu" class="ui menu text" style="width:100%">
        <div class="ui container">
            <div id="menu" class="ui item">
                <a href="/" id="toptop" style="margin-right:215px;margin-top:5px"><input height="50px" type="image"
                        src="/images/myforestlogo.png"></a>
            </div>
            <div id="menu" class="ui field dropdown item">
                <span class="text">
                    <p>캠핑장 소개</p>
                </span>
                <i class="dropdown icon"></i>
                <div id="submenu" class="menu">
                    <ul style="padding:5px;margin:0px">
                        <li class="item"><a href="/info1" class="main_link">내안의 숲 소개</a></li>
                        <li class="item"><a href="/info2" class="main_link">주변관광지</a></li>
                        <li class="item"><a href="/info3" class="main_link">찾아오시는길</a></li>
                    </ul>
                </div>
            </div>

            <div id="menu" class="ui pointing dropdown link item">
                <span class="text">
                    <p>시설 소개</p>
                </span>
                <i class="dropdown icon"></i>
                <div id="submenu" class="menu">
                    <ul style="padding:5px;margin:0px">
                        <li class="item"><a href="/campinfo1" class="main_link">캠핑장 안내도</a></li>
                        <li class="item"><a href="/campinfo2" class="main_link">방갈로 소개</a></li>
                        <li class="item"><a href="/campinfo3" class="main_link">데크사이트 소개</a></li>
                        <li class="item"><a href="/campinfo4" class="main_link">펜션 소개</a></li>
                    </ul>
                </div>
            </div>

            <div id="menu" class="ui pointing dropdown link item">
                <span class="text">
                    <p>실시간 예약</p>
                </span>
                <i class="dropdown icon"></i>
                <div id="submenu" class="menu">
                    <ul style="padding:5px;margin:0px">
                        <li class="item"><a href="/booking_price" class="main_link">요금안내</a></li>
                        <li class="item"><a href="/booking" class="main_link">예약하기</a></li>
                        <li class="item"><a href="/booking_reservation" class="main_link">예약확인</a></li>
                    </ul>
                </div>
            </div>
            <div id="menu" class="ui pointing dropdown link item">
                <span class="text">
                    <p>커뮤니티</p>
                </span>
                <i class="dropdown icon"></i>
                <div id="submenu" class="menu">
                    <ul style="padding:5px;margin:0px">
                        <li class="item"><a href="/notice" class="main_link">공지사항</a></li>
                        <li class="item"><a href="/photo" class="main_link">포토갤러리</a></li>
                        <li class="item"><a href="/review" class="main_link">내안의 숲 후기</a></li>
                        <li class="item"><a href="/qna" class="main_link">문의게시판</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div id="testbanner" class="simple_banner_wrap banner02" data-type="vslide" data-interval="3000">
        <ul>
            <% adarr.forEach(function (item,index){ %>
                <li style="background-color:#69f;"><a href="<%= item.adurl %>" target="_blank"><img
                            src="/adverimages/<%= item.filename %>" width="100%" height="100%"></a></li>
                <% })%>
        </ul>
        <div style="color:white;position: relative;text-align: right;">
            <a href="#" onclick="close_1day()" style="color: white;background: black">오늘하루닫기</a>
            <a href="#" onclick="close_banner()" style="color: white;background: black">닫기</a>
        </div>
    </div>
    <script>
        function sitemap_show() {
            $('.ui.modal.head')
                .modal('show')
                ;
        }
        function login() {
            location.href = '/users/login';
        }
        function logout() {
            location.href = "/logout";
        }

        var filter = "win16|win32|win64|mac|macintel";
        if (navigator.platform) {
            if (filter.indexOf(navigator.platform.toLowerCase()) < 0) {
                //mobile 
                location.href = "/mobile"
            }
        }
    </script>
</header>