<!DOCTYPE html>
<html>
  <head>
    <title>내안의숲 오토캠핑장</title>
    <link rel="canonical" href="https://xn--220bt54ayhcmwc.com/" />
    <meta
      name="description"
      content="내안의숲(계백) 오토캠핑장 홈페이지입니다. #내안의숲 #부여캠핑장 #캠핑장 #오토캠핑장 #데크사이트 #방갈로 #펜션예약"
    />
    <meta name="robots" content="ALL" />
    <meta name="NaverBot" content="All" />
    <meta name="NaverBot" content="index,follow" />
    <meta name="Yeti" content="All" />
    <meta name="Yeti" content="index,follow" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="내안의숲(계백) 오토캠핑장" />
    <meta
      property="og:description"
      content="부여에 위치한 내안의숲 오토캠핑장 홈페이지입니다"
    />
    <meta
      property="og:image"
      content="https://www.xn--220bt54ayhcmwc.com/images/myforestlogo.png"
    />
    <meta property="og:url" content="https://www.xn--220bt54ayhcmwc.com" />
    <meta property="al:ios:url" content="applinks://docs" />
    <meta property="al:ios:app_store_id" content="12345" />
    <meta property="al:ios:app_name" content="App Links" />
    <meta property="al:android:url" content="applinks://docs" />
    <meta property="al:android:app_name" content="App Links" />
    <meta property="al:android:package" content="org.applinks" />
    <meta property="al:web:url" content="http://applinks.org/documentation" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="/css/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/zoomslider.css" />
    <link rel="stylesheet" type="text/css" href="/css/falling.css" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
  </head>
  <body>
    <div id="main">
      <% include header.html %>
      <div id="border"></div>
      <div id="border2"></div>
      <div id="container">
        <div
          id="demo-1"
          data-zs-src='["/images/main_1.jpg","/images/main_2.jpg"]'
          data-zs-overlay="dots"
        >
          <div id="leaves">
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
            <i></i>
          </div>
          <div class="demo-inner-content">
            <img src="/images/content.png" width="400" />
          </div>
        </div>
      </div>
      <div id="container2" class="ui container">
        <div class="ui five column grid" style="margin: 10px">
          <div
            class="column"
            style="text-align: center; cursor: pointer; width: 16%"
            onclick="page_move('/info1')"
          >
            <div
              id="menu_1"
              class="ui image segment"
              style="
                text-align: center;
                color: black;
                margin: 5px;

                background: rgb(81, 80, 142);
                border-radius: 50%;
              "
            >
              <img src="/images/forest_vector.png" width="60" />
            </div>
            <div style="padding: 4px">
              <p>
                <strong>내안의숲</strong><br /><span style="font-size: 12px"
                  >내안의 숲이란 ?</span
                >
              </p>
            </div>
          </div>
          <div
            class="column"
            style="text-align: center; cursor: pointer; width: 16%"
            onclick="page_move('/campinfo1')"
          >
            <div
              id="menu_2"
              class="ui image segment"
              style="
                text-align: center;
                color: black;
                margin: 5px;
                background: rgb(65, 157, 221);
                border-radius: 50%;
              "
            >
              <img src="/images/mark_vector.png" width="60" />
            </div>
            <div style="padding: 4px">
              <p>
                <strong>캠핑장안내도</strong><br /><span style="font-size: 12px"
                  >캠핑장 지도 및 시설확인</span
                >
              </p>
            </div>
          </div>
          <div
            class="column"
            style="text-align: center; cursor: pointer; width: 16%"
            onclick="page_move('booking_price')"
          >
            <div
              id="menu_3"
              class="ui image segment"
              style="
                text-align: center;
                color: black;
                margin: 5px;
                background: rgb(234, 175, 28);
                border-radius: 50%;
              "
            >
              <img src="/images/price_vector.png" width="60" />
            </div>
            <div style="padding: 4px">
              <p>
                <strong>요금안내</strong><br /><span style="font-size: 12px"
                  >캠핑장 이용요금 안내</span
                >
              </p>
            </div>
          </div>
          <div
            class="column"
            style="text-align: center; cursor: pointer; width: 16%"
            onclick="page_move('booking')"
          >
            <div
              id="menu_4"
              class="ui image segment"
              style="
                text-align: center;
                color: black;
                margin: 5px;
                background: rgb(252, 83, 48);
                border-radius: 50%;
              "
            >
              <img src="/images/calendar_vector.png" width="60" />
            </div>
            <div style="padding: 4px">
              <p>
                <strong>실시간예약</strong><br /><span style="font-size: 12px"
                  >캠핑장 실시간예약 메뉴</span
                >
              </p>
            </div>
          </div>
          <div
            class="column"
            style="text-align: center; cursor: pointer; width: 16%"
            onclick="page_move('booking_parking')"
          >
            <div
              id="menu_6"
              class="ui image segment"
              style="
                text-align: center;
                color: black;
                margin: 5px;
                background: rgb(184, 72, 137);
                border-radius: 50%;
              "
            >
              <img src="/images/camping_car_decolored.png" width="60" />
            </div>
            <div style="padding: 4px">
              <p>
                <strong>캠핑카주차</strong><br /><span style="font-size: 12px"
                  >캠핑카 정기 주차예약</span
                >
              </p>
            </div>
          </div>
          <div
            class="column"
            style="text-align: center; cursor: pointer; width: 16%"
            onclick="page_move('booking_reservation')"
          >
            <div
              id="menu_5"
              class="ui image segment"
              style="
                text-align: center;
                color: black;
                margin: 5px;
                background: rgb(94, 216, 0);
                border-radius: 50%;
              "
            >
              <img src="/images/check_vector.png" width="60" />
            </div>
            <div style="padding: 4px">
              <p>
                <strong>예약확인</strong><br /><span style="font-size: 12px"
                  >캠핑장 예약내역 확인</span
                >
              </p>
            </div>
          </div>
        </div>

        <table
          class="ui celled table"
          style="margin-top: 30px; text-align: center"
        >
          <tr
            style="
              font-size: 12px;
              background: rgb(85, 194, 1);
              color: white;
              font-weight: bold;
            "
          >
            <td
              rowspan="4"
              class="reserve_date1"
              style="
                background: white;
                background-image: url('/images/hback.png');
                width: 40%;
                text-align: left;
              "
            >
              <div class="ui segment" style="color: black; text-align: center">
                <div class="ui top attached green label">이용안내</div>
                <p
                  style="
                    font-size: 13px;
                    font-weight: lighter;
                    text-align: center;
                  "
                >
                  캠핑장을 예약하고 싶으신 고객님은
                  <font color="green" style="font-weight: bold"
                    >실시간예약시스템</font
                  >을 이용하여 예약해주시기 바랍니다. 예약후에는 예약확인 메뉴를
                  이용해주시길 바랍니다.( 24시간내 입금되지않을시
                  자동취소됩니다.)
                </p>
              </div>
              <div style="text-align: center">
                <div class="ui buttons" style="width: 100%">
                  <button
                    class="ui animated positive button"
                    onclick="page_move('/booking_price')"
                  >
                    <div class="visible content">
                      <i class="fas fa-comment-dollar"></i
                      >&nbsp;&nbsp;요금안내상세
                    </div>
                    <div class="hidden content">
                      <i class="fas fa-arrow-right"></i>&nbsp;&nbsp;이동
                    </div>
                  </button>
                  <div class="or"></div>
                  <button
                    class="ui animated primary button"
                    onclick="page_move('/booking')"
                  >
                    <div class="visible content">
                      <i class="far fa-calendar-alt"></i
                      >&nbsp;&nbsp;실시간예약시스템
                    </div>
                    <div class="hidden content">
                      <i class="fas fa-arrow-right"></i>&nbsp;&nbsp;이동
                    </div>
                  </button>
                </div>
              </div>
              <div style="text-align: center">
                <div class="ui green message">
                  <i class="fas fa-mobile-alt" style="margin-right: 5px"></i
                  >문의 : 010-5691-5058
                  <font style="margin-left: 10px"
                    ><i class="fas fa-user-alt" style="margin-right: 5px"></i
                    >계백장군</font
                  >
                </div>
              </div>
            </td>
          </tr>
          <tr style="font-size: 12px" class="reserve_count1"></tr>
          <tr
            class="reserve_date2"
            style="
              font-size: 12px;
              background: rgb(85, 194, 1);
              color: white;
              font-weight: bold;
            "
          ></tr>
          <tr style="font-size: 12px" class="reserve_count2"></tr>
        </table>
        <div
          class="ui two column grid"
          style="margin-top: 25px; margin-bottom: 20px"
        >
          <div class="column">
            <div class="ui raised segment">
              <a class="ui red ribbon label">공지사항</a>
              <table
                style="margin: 5px; table-layout: fixed; width: 100%"
                class="notice_list"
              ></table>
              <a class="ui blue ribbon label">FAQ</a>
              <table
                style="margin: 5px; table-layout: fixed; width: 100%"
                class="qna_list"
              ></table>
            </div>
          </div>
          <div class="column">
            <div class="ui segment" style="height: 350px">
              <div class="ui top attached label" style="height: 10%">
                찾아오시는 길
              </div>
              <div class="map-responsive" id="map" style="height: 80%"></div>
              <div style="height: 10%">
                <button
                  class="ui animated primary button"
                  style="margin-top: 5px"
                  onclick="page_move('/info3')"
                >
                  <div class="visible content">자세히보기</div>
                  <div class="hidden content">
                    <i class="fas fa-arrow-right"></i>&nbsp;&nbsp;이동
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div>&nbsp;</div>
      </div>
      <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=bcfaba025dd47a0cae64cc9b3cd987bb"></script>
      <script defer src="/js/jquery.min.js"></script>
      <script defer src="/js/semantic.min.js"></script>
      <script defer src="/js/modernizr-2.6.2.min.js"></script>
      <script defer src="/js/jquery.zoomslider.min.js"></script>
      <script defer src="/js/util.js"></script>
      <% include footer.html %>
      <script defer src="/js/index.js"></script>
    </div>
  </body>
</html>
