<!DOCTYPE html>
<html lang="en">
<head>
    <title>내안의숲 오토캠핑장</title>
    <link rel="canonical" href="https://xn--220bt54ayhcmwc.com/mobile/">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0">
<meta name="description" content="내안의숲(계백) 오토캠핑장 홈페이지입니다. #내안의숲 #부여캠핑장 #캠핑장 #오토캠핑장 #데크사이트 #방갈로 #펜션예약" />
<meta name="robots" content="ALL" />
<meta name="NaverBot" content="All"/>
<meta name="NaverBot" content="index,follow"/>
<meta name="Yeti" content="All"/>
<meta name="Yeti" content="index,follow"/>
<meta property="og:type" content="website" />
<meta property="og:title" content="내안의숲(계백) 오토캠핑장" />
<meta property="og:description" content="부여에 위치한 내안의숲 오토캠핑장 홈페이지입니다" />
<meta property="og:image" content="https://xn--220bt54ayhcmwc.com/images/myforestlogo.png" />
<meta property="og:url" content="https://xn--220bt54ayhcmwc.com" />
<meta property="al:ios:url" content="applinks://docs" />
<meta property="al:ios:app_store_id" content="12345" />
<meta property="al:ios:app_name" content="App Links" />
<meta property="al:android:url" content="applinks://docs" />
<meta property="al:android:app_name" content="App Links" />
<meta property="al:android:package" content="org.applinks" />
<meta property="al:web:url"
content="http://applinks.org/documentation" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/zoomslider.css" />
<link rel="stylesheet" type="text/css" href="/css/falling.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/modernizr-2.6.2.min.js"></script>
<script data-ad-client="ca-pub-7792849227812524" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<style>
body{
    overflow-x:hidden;
}
ins {
    min-width: 370px;
    min-height: 50px;
}
.demo-inner-content {
			position: relative; /* if position is not set, the script will set it to 'relative'. */
			z-index: 2; /* if z-index is not set, the script will set it to '2'. */
			margin: 0px 40px 70px;
			max-height: 500px;
			color: #fff;
			text-align: center;
			font-size: 1.5em;
		}

		.demo-inner-content h1 {
			font-size: 2.5em;
			margin: 0;
		}
    #demo-1 {
			overflow: hidden; /* to bound the empty top space created by inner element's top margin */
			position: relative; /* can either be relative, absolute or fixed. If position is not set (i.e. static), it would be set to "relative" by script */
			width: 100%;
			background-color: #f0f0f0;
		}
    #load {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: block;
	opacity: 1.0;
	background: white;
	z-index: 99;
	text-align: center;
}
    #img {
	position: absolute;
	top: 40%;
	left: 40%;
	z-index: 100;
}
#load > p {
	position: relative;
	z-index: 100;
}
    </style>
</head>
<body>
  	<script>
        $(document).ready(function() {
          setTimeout(function(){
            loading_hide();
          },400);
      });
      function loading_show(){
          $('#load').show();
          }
          function loading_hide(){
          //$('#load').hide();
          $('#load')
          .fadeOut('slow');
          }
          function page_move(renderpage){
                location.href=renderpage;
              }
              
              </script>
    <div id="load">
        <div id="img"><img src="/images/loading1.gif" alt="loading..."></div>
      </div>
<% include header_mobile.html %>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 col-12">
            <div id="demo-1" data-zs-src='["/images/main_1.jpg","/images/main_2.jpg"]' data-zs-overlay="dots">
              <div id="leaves">
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i>
                  <i></i> 
                  </div>
              <!--메인화면 글귀-->
      
              <div class="demo-inner-content">
                  <img src="/images/content.png" width=250>
              </div>
              <!--공지사항-->
              <!--오시는길-->
              <!--예약하기-->
              <!--예약확인-->
            </div>
        </div>
       
    </div>
    <div class="row" style="height:20px">  &nbsp;</div>
    <div class="row">
        <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4 col-4" style="text-align: center">
            <button class="btn btn-danger btn-lg" style="width: 90px;height: 90px" onclick="location.href='/mobile/booking'">
                <i class="far fa-clock"></i><br><font size=2>예약하기</font>
           </button>
          </div>
          <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4 col-4" style="text-align: center" onclick="location.href='/mobile/booking_reservation'">
              <button class="btn btn-warning btn-lg" style="width: 90px;height: 90px">
                  <i class="fas fa-tasks"></i><br><font size=2>예약확인</font>
             </button>
          </div>
          <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4 col-4" style="text-align: center" onclick="location.href='https://map.kakao.com/?eX=442910&eY=746416&eName=%EB%82%B4%EC%95%88%EC%9D%98%EC%88%B2%EC%98%A4%ED%86%A0%EC%BA%A0%ED%95%91%EC%9E%A5'">
              <button class="btn btn-info btn-lg" style="width: 90px;height: 90px">
                  <i class="fas fa-map-marker-alt"></i><br><font size=2>길안내</font>
             </button> 
          </div>
    </div>
    <div class="row" style="margin-top:20px">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 col-12">
            <h5><span class="badge badge-info">예약현황</span></h5>
            <ul class="list-group" style="text-align:center">
             <li id="date_input" class="list-group-item list-group-item-primary"></li>
             <li id="data_input" class="list-group-item"></li>
             <li id="date_input2" class="list-group-item list-group-item-primary"></li>
             <li id="data_input2" class="list-group-item"></li>
             <li id="date_input3" class="list-group-item list-group-item-primary"></li>
             <li id="data_input3" class="list-group-item"></li>
            </ul>
        </div>
    </div>

    <hr>
    <% include footer_mobile.html %>
</div>
<script type="text/javascript" src="/jquery.zoomslider.min.js"></script>
<script>
(function(){

$.ajax({
type: "get"
,url: "/reserve/day_query"
,success:function(data){
    list_ready(data);
}
,error:function(data){
//alert("error");
//history.back();
}
});

function list_ready(data){
Date.prototype.format = function(f) {
if (!this.valueOf()) return " ";

var weekName = ["일", "월", "화", "수", "목", "금", "토"];
var d = this;

return f.replace(/(yyyy|yy|MM|dd|E|hh|mm|ss|a\/p)/gi, function($1) {
switch ($1) {
case "yyyy": return d.getFullYear();
case "yy": return (d.getFullYear() % 1000).zf(2);
case "MM": return (d.getMonth() + 1).zf(2);
case "dd": return d.getDate().zf(2);
case "E": return weekName[d.getDay()];
case "HH": return d.getHours().zf(2);
case "hh": return ((h = d.getHours() % 12) ? h : 12).zf(2);
case "mm": return d.getMinutes().zf(2);
case "ss": return d.getSeconds().zf(2);
case "a/p": return d.getHours() < 12 ? "오전" : "오후";
default: return $1;
}
});
};

String.prototype.string = function(len){var s = '', i = 0; while (i++ < len) { s += this; } return s;};
String.prototype.zf = function(len){return "0".string(len - this.length) + this;};
Number.prototype.zf = function(len){return this.toString().zf(len);};

var date = new Date();
$("#date_input").append(""+date.format("MM/dd(E)"));

var room = data.days_room;
var max_room = data.max_room;
var i=0;
$("#data_input").append("<h8><span class=\"badge badge-success\">방갈로</span>&nbsp;"+(max_room.bungalow-room[i].bungalow)+"/"+max_room.bungalow+"</h8>&nbsp;&nbsp;<h8><span class=\"badge badge-warning\">데크사이트</span>&nbsp;"+((max_room.decksite+max_room.site)-(room[i].decksite+room[i].site))+"/"+(max_room.decksite+max_room.site)+"</h8>&nbsp;&nbsp;<h8><span class=\"badge badge-danger\">펜션</span>&nbsp;"+(max_room.pension-room[i].pension)+"/"+max_room.pension+"</h8>");
i=1;
date.setDate(date.getDate()+1);
$("#date_input2").append(""+date.format("MM/dd(E)"));
$("#data_input2").append("<h8><span class=\"badge badge-success\">방갈로</span>&nbsp;"+(max_room.bungalow-room[i].bungalow)+"/"+max_room.bungalow+"</h8>&nbsp;&nbsp;<h8><span class=\"badge badge-warning\">데크사이트</span>&nbsp;"+((max_room.decksite+max_room.site)-(room[i].decksite+room[i].site))+"/"+(max_room.decksite+max_room.site)+"</h8>&nbsp;&nbsp;<h8><span class=\"badge badge-danger\">펜션</span>&nbsp;"+(max_room.pension-room[i].pension)+"/"+max_room.pension+"</h8>");
i=2;
date.setDate(date.getDate()+1);
$("#date_input3").append(""+date.format("MM/dd(E)"));
$("#data_input3").append("<h8><span class=\"badge badge-success\">방갈로</span>&nbsp;"+(max_room.bungalow-room[i].bungalow)+"/"+max_room.bungalow+"</h8>&nbsp;&nbsp;<h8><span class=\"badge badge-warning\">데크사이트</span>&nbsp;"+((max_room.decksite+max_room.site)-(room[i].decksite+room[i].site))+"/"+(max_room.decksite+max_room.site)+"</h8>&nbsp;&nbsp;<h8><span class=\"badge badge-danger\">펜션</span>&nbsp;"+(max_room.pension-room[i].pension)+"/"+max_room.pension+"</h8>");


}//function count_ready
})();
</script>
</body>
</html>                            
