<!DOCTYPE html>
<html>
  <head>
  	<title>내안의숲 오토캠핑장</title>
<meta name="description" content="내안의숲(계백) 오토캠핑장 홈페이지입니다. #내안의숲 #부여캠핑장 #캠핑장 #오토캠핑장 #데크사이트 #방갈로 #펜션예약">
<meta name="robots" content="index,follow">
<meta property="og:type" content="website">
<meta property="og:title" content="내안의숲(계백) 오토캠핑장">
<meta property="og:description" content="부여에 위치한 내안의숲 오토캠핑장 홈페이지입니다">
<meta property="og:image" content="https://www.xn--220bt54ayhcmwc.com/images/myforestlogo.png">
<meta property="og:url" content="https://www.xn--220bt54ayhcmwc.com">
			<link rel="stylesheet" type="text/css" href="/semantic.min.css">
			<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
			<script src="/semantic.min.js"></script>
			<link rel="stylesheet" type="text/css" href="/zoomslider.css" />
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

			<script type="text/javascript" src="/modernizr-2.6.2.min.js"></script>
			<script>
					$(document)
						.ready(function() {
				
							// fix main menu to page on passing
					 
							// show dropdown on hover
							$('.ui.dropdown').dropdown({
								on: 'hover',
								action:'nothing'
							});
						})
					;
					</script>
			<style>
			#menu{
				margin-right: 50px;
				color: black;
				height: 60px;
				font-size: 18px;
				font-weight: bold;
				margin-bottom: 0px;
			}
			#top{
				width: 100%;
				background-color: rgb(107, 107, 107);
				height: 35px;
			}
			#topmenu{
				margin-top:0px;
				height: 35px;
			}
			#main{
				margin-top:0;
				width: 100%;
				height: 100%;
			}
			#main_menu{
				height: 50px;
				background-color: white;
			}

			#border{
				height: 10px;
				background: rgb(71, 175, 71);
				margin-bottom: 5px;
			}

			#border2{
				height: 1px;
				background: rgb(107, 107, 107);
			}

			#demo-1 {
			overflow: hidden; /* to bound the empty top space created by inner element's top margin */
			position: relative; /* can either be relative, absolute or fixed. If position is not set (i.e. static), it would be set to "relative" by script */
			width: 100%;
			height: 500px;
			background-color: #f0f0f0;
		}
		#submenu{
			font-size: 15px;
		}
		.demo-inner-content {
			position: relative; /* if position is not set, the script will set it to 'relative'. */
			z-index: 2; /* if z-index is not set, the script will set it to '2'. */
			margin: 70px auto;
			padding: 40px;
			max-height: 500px;
			color: #fff;
			text-align: center;
			font-size: 1.5em;
		}

		.demo-inner-content h1 {
			font-size: 2.5em;
			margin: 0;
		}
		#container{
			width: 100%;
			height: 140px;
		}
		#container2{
			min-height: 400px auto;
		}
		#footer{
			font-style: normal;
			height: 120px;
		}
#content_left{
	width:25%;	
}

#content_right{
	width:75%;
}

#load {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	display: block;
	opacity: 1.0;
	background: white;
	z-index: 99;
	text-align: center;
}

#img {
	position: absolute;
	top: 45%;
	left: 48%;
	z-index: 100;
}
#load > p {
	position: relative;
	z-index: 100;
}

.top_box1{
	float: left;
	width: 50%;
	height: 100%;
}
.top_box2{
	display: inline-block;
	width: 50%;
	height: 100%;
	text-align: right;
}
			</style>
<script>
	function loading_show(){
	$('#load').show();
	}
	function loading_hide(){
	//$('#load').hide();
	$('#load')
.transition({animation:'fade',duration:'600ms'})
;
	}
	function page_move(renderpage){
				location.href=renderpage;
			}

			function mouse_on(obj){
				obj.style.background = "#cecece";
				obj.style.fontWeight= "bold";
				var tag = obj.getElementsByTagName('i');
				tag[0].style.display = "inline";
			}

			function mouse_off(obj){
				obj.style.background = "white";
				obj.style.fontWeight= "lighter";
				var tag = obj.getElementsByTagName('i');
				tag[0].style.display = "none";
			}
	</script>
  </head>
	<body>
			<div id="load">
					<div id="img"><img src="images/loading1.gif" alt="loading..."><br><strong>Loading...</strong></div>	
				</div>
		<div id="main">
				<% include header.html %>
			<div id="border" ></div>
			<div id="border2" ></div>
			<div id=container style="background:url('/images/introtop.jpg');background-size:cover;background-repeat: no-repeat;">
		</div>
		<div id="container2" class="ui container">
					<div class="ui stackable two column grid">
							<div id="content_left" class="column">
									<table border=1 cellspacing="0" cellpadding="20px" style="width:100%;border-collapse:collapse; border:1px;border-color: rgb(148, 148, 148)">
										<tr><td style="height:100px;text-align: center;color:white;background:green;font-size:18px;"><strong>캠핑장 소개</strong></td></tr>
										<tr><td style="background: #cecece;"><i class="fas fa-check" style="margin-right: 10px;display:inline"></i><strong>내안의 숲 소개</strong></td></tr>
										<tr><td style= "cursor:pointer" onmouseover="mouse_on(this)" onmouseout="mouse_off(this)" onclick="location.href='/info2'">
												<i class="fas fa-check" style="margin-right: 10px;display:none;"></i>
											주변관광지</td></tr>
										<tr><td style= "cursor:pointer" onmouseover="mouse_on(this)" onmouseout="mouse_off(this)" onclick="location.href='/info3'">
												<i class="fas fa-check" style="margin-right: 10px;display:none;"></i>
											찾아오시는길</td></tr>
										
										</table>
							</div>
							<div id="content_right" class="column">
									<table border=0 cellspacing="0" cellpadding="15px" style="margin-top:20px;width:100%;border-collapse:collapse; border:1px;border-color: rgb(148, 148, 148)">
											<tr><td style="width: 50%"><strong><h2>내안의 숲 소개</h2></strong><p style="margin-top:10px">충남 부여군에 위치한 내안의 숲 캠핑장을 소개합니다.</p><hr align="left" style="width: 15%;border:solid 2px green"></td><td  style="width: 50%;text-align: right;vertical-align: text-top"><i class="fas fa-home" style="color: green"></i>&nbsp;&nbsp;HOME&nbsp;&nbsp;<i class="fas fa-angle-right"></i>&nbsp;&nbsp;캠핑장 소개&nbsp;&nbsp;<i class="fas fa-angle-right"></i>&nbsp;&nbsp;내안의 숲 소개&nbsp;&nbsp;</td></tr>
											<tr><td colspan="2"><img src="/images/intro1_pic.jpg" width="100%"></td></tr>
											<tr><td colspan="2"><h3>즐거운 휴식이 있는 곳, "내안의 숲"</h3></td></tr>
											<tr><td colspan="2">
												<p style="font-size: 13px">저희 캠핑장은 부여 주요 문화재와 18분 가량 거리에 위치 해 있으며, 서천의 주요 관광지와의 거리도 대략 20분 내외에 위치 하고 있습니다.</br>
												캠핑장의 구성은 4인 방갈로 5개, 6인 방갈로 3개, 일반사이트 65개,데크사이트 5개 로 구성이 되어있으며, 편의 시설로는 개수대, 화장실, 전기,
												 온수가능 샤워실, 매점, 수영장 등이 있습니다.
												  연중 운영이 되며 각 계절별로 특색이있는 볼거리와 즐길거리가 있는 캠핑장입니다.</br>
												  </p>
														<p style="font-size: 13px">봄에는 내안의 숲의 자랑중 하나인 반딧불이를 캠핑장 내에서 관찰 하실 수 있으며, 근처 농가로 딸기체험등을 하실 수 있습니다.</br>
															여름에는 10x20m의 대형 수영장에서 즐거운 물놀이가 가능합니다.</br>
															가을에는 토실토실한 알밤을 주으시는 밤줍기 체험을 하실 수 있습니다.</br>
															겨울에는 낭만적인 설경을 감상하시고, 눈썰매 얼음썰매등을 체험 하실 수 있습니다.</br>
															</p>
													<p style="font-size: 13px">또한 내안의 숲 캠핑장 내부에 편백나무숲을 둘러 산책로가 잘 정비되어 있어서 산림욕을 하시며 산책등을 즐기실 수도 있습니다.</br>
												매점에서는 캠핑에 필요한 기초적인 생필품과 장작등을 판매하고 있으며, 관리자가 상주를 하고있어 보다 편하게 이용 하실 수 있습니다.</p>
											</td></tr>
											</table>
											<div style="margin-top:50px"></div>
											<div style="margin:15px">
											<h3 class="ui dividing header">
                                                    내안의 숲 특징
                                            </h3>
                                            <div class="ui link three stackable cards">
													<div class="card">
															<div class="image">
																  <img src="/images/info1_pic2.jpg">
															</div>
															<div class="content">
															  <div class="header">반딧불이 체험</div>
															  <div class="meta">
																	  <a style="font-size: 13px">봄</a>
															  </div>
															  <div class="description"><font size="2px">
																	  내안의 숲의 자랑중 하나인 반딧불이를 캠핑장 내에서 관찰 하실 수 있습니다.
																  </font>
																  </div>
															</div>
														  </div>
                                                    <div class="card">
                                                      <div class="image">
															<img src="/images/info1_pic3.jpg">
                                                      </div>
                                                      <div class="content">
                                                        <div class="header">딸기체험</div>
                                                        <div class="meta">
                                                                <a style="font-size: 13px">봄</a>
                                                        </div>
                                                        <div class="description"><font size="2px">
																근처 농가로 딸기체험등을 하실 수 있습니다.
                                                            </font>
                                                            </div>
                                                      </div>
                                                    </div>
                                                    <div class="card">
                                                      <div class="image">
															<img src="/images/info1_pic4.jpg">
                                                      </div>
                                                      <div class="content">
                                                        <div class="header">물놀이</div>
                                                        <div class="meta">
                                                          <a style="font-size: 13px">여름</a>
                                                        </div>
                                                        <div class="description">
                                                                <font size="2px">
                                                                        10x20m의 대형 수영장에서 즐거운 물놀이가 가능합니다.
                                                                </font>
                                                        </div>
                                                      </div>
                                                    </div>
											</div>

											<div class="ui link three stackable cards">
													<div class="card">
															<div class="image">
																  <img src="/images/info1_pic5.jpg">
															</div>
															<div class="content">
															  <div class="header">밤줍기 체험</div>
															  <div class="meta">
																	  <a style="font-size: 13px">가을</a>
															  </div>
															  <div class="description"><font size="2px">
																	토실토실한 알밤을 주으시는 밤줍기 체험을 하실 수 있습니다.
																  </font>
																  </div>
															</div>
														  </div>
                                                    <div class="card">
                                                      <div class="image">
															<img src="/images/info1_pic6.jpg">
                                                      </div>
                                                      <div class="content">
                                                        <div class="header">설경/눈썰매체험</div>
                                                        <div class="meta">
                                                                <a style="font-size: 13px">겨울</a>
                                                        </div>
                                                        <div class="description"><font size="2px">
																낭만적인 설경을 감상하시고, 눈썰매 얼음썰매등을 체험 하실 수 있습니다.
                                                            </font>
                                                            </div>
                                                      </div>
                                                    </div>
                                                    <div class="card">
                                                      <div class="image">
															<img src="/images/info1_pic7.jpg">
                                                      </div>
                                                      <div class="content">
                                                        <div class="header">맑은공기/산림욕</div>
                                                        <div class="meta">
                                                          <a style="font-size: 13px">봄/여름/가을/겨울</a>
                                                        </div>
                                                        <div class="description">
                                                                <font size="2px">
																		내안의 숲 캠핑장 내부에 편백나무숲을 둘러 산책로가 잘 정비되어 있어서 산림욕을 하시며 산책등을 즐기실 수도 있습니다.
                                                                </font>
                                                        </div>
                                                      </div>
                                                    </div>
											</div>
										</div>
							</div>
						</div>
						<div>&nbsp;</div>
			<!--내안의숲소개 캠핑장안내도 요금안내 예약하기 예약확인
				공지사항ㅡ문의사항 찾아오시는길-->
			</div>
		<!--footer-->
		<% include footer.html %>
	</div>

	</body>
	<script type="text/javascript" src="/jquery.zoomslider.min.js"></script>
	<script>
			setTimeout(function(){
						loading_hide();
					},400);
					</script>
</html>
