<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="/semantic.min.css">
    <link rel="stylesheet" href="/css/parking.css">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">

</head>

<body>

    <div id="top">
        <% include top.html %>
    </div>
    <div class="ui container">
        <div class="horizontalArrayContainer">
            <div class="parkingAreaImgContainer">
                <img class="parkingAreaImg" src="https://t1.daumcdn.net/cfile/blog/2070C7334D74A3A721?original" />
            </div>
            <div class="parkingAreaSelectContainer">
                <h3>주차 구역 선택</h3>
                <div class="parkingAreaSelectInnerContainer"></div>
            </div>
        </div>

        <div class="horizontalCalenderContainer">
            <div class="calenderHeader">
                <button id="prevBtn" data-action="setPrevMonth">&lt; </button>
                <div class="horizontalArrayContainer">
                    <div class="selectedYear"></div>
                    <div class="selectedMonth"></div>
                </div>
                <button id="nextBtn" data-action="setNextMonth">&gt;</button>
            </div>
            <div class="datesContainer">
                <div class="dates"></div>
            </div>
        </div>

        <div class="selectedInfoContainer">
            <div class="selectedAreaImgContainer">
                <img class="selectedAreaImg"
                    src="https://img.animalplanet.co.kr/news/2020/11/07/700/g76pp21c5bh62k75d97d.jpg" />
            </div>
            <div class="selectedInfoTextContainer">
                <div class="horizontalArrayContainer">
                    <span class="selectedInfoTitleText">선택 구역</span>
                    <span class="selectedInfoText" id="selectedArea">-</span>
                </div>
                <div class="horizontalArrayContainer">
                    <span class="selectedInfoTitleText">선택 날짜</span>
                    <span class="selectedInfoText" id="selectedStartDate">
                        -
                    </span>
                    <span class="selectedInfoText">~</span>
                    <span class="selectedInfoText" id="selectedEndDate">-</span>
                </div>
                <div class="horizontalArrayContainer">
                    <span class="selectedInfoTitleText">합계 금액</span>
                    <span class="selectedInfoText" id="sumOfParkingFee">-</span>
                </div>

            </div>
            <button>예약하기</button>
        </div>
    </div>
    </div>

</body>
<script defer type="text/javascript" src="/js/parking/model.js"></script>
<script defer type="text/javascript" src="/js/parking/controller.js"></script>
<script defer type="text/javascript" src="/js/parking/view.js"></script>
</html>
