<div class="modal fade refund_info" tabindex="-1" role="dialog" aria-labelledby="refundModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="refundModalLabel">환불 신청 정보</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="info">
                    <div>예약 구역 종류</div>
                    <div class="alert alert-info" role="alert" id="refund_reserve_type"></div>
                    <br>
                    <div>예약 일자</div>
                    <div class="alert alert-info" role="alert" id="refund_reserve_date"></div>
                    <br>
                    <div>예약 금액</div>
                    <div class="alert alert-info" role="alert" id="refund_reserve_price"></div>
                    <br>
                    <div>예금주</div>
                    <div class="alert alert-info" role="alert" id="refund_info_name"></div>
                    <br>
                    <div>은행 이름</div>
                    <div class="alert alert-info" role="alert" id="refund_info_bank"></div>
                    <br>
                    <div>계좌 번호</div>
                    <div class="alert alert-info" role="alert" id="refund_info_account_number"></div>
                    <br>
                    <div>환불 신청 날짜</div>
                    <div class="alert alert-info" role="alert" id="refund_info_date"></div>
                    <br>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>