<!-- used framework: semantic ui -->
<div class="ui modal refund_info hidden">
    <div class="header">환불 신청 정보</div>
    <div class="content">
        <div class="info">
            <div>예약 구역 종류</div>
            <div class="ui message" id="refund_reserve_type">
            </div><br/>
            <div>예약 일자</div>
            <div class="ui message" id="refund_reserve_date">
            </div><br/>
            <div>예약 금액</div>
            <div class="ui message" id="refund_reserve_price">
            </div> </br>
            <div>예금주</div>
            <div class="ui message" id="refund_info_name">
            </div></br>
            <div>은행 이름</div>
            <div class="ui message" id="refund_info_bank">
            </div></br>
            <div>계좌 번호</div>
            <div class="ui message" id="refund_info_account_number">
            </div></br>
            <div>환불 신청 날짜</div>
            <div class="ui message" id="refund_info_date">
            </div></br>
            <div class="actions">
            <div class="ui cancel button">닫기</div>
            </div>
        </div>
    </div>
    </div>