html,
body {
  position: relative;
  height: 100%;
  width: 100%;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 16px;
  color: #000;
  margin: 0;
  padding: 0;
}
.horizontalArrayContainer {
  display: flex;
}

.parkingAreaImgContainer {
  height: 350px;
  width: 50%;
  border: 1px solid silver;
}

.parkingAreaImg {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

.parkingAreaSelectContainer {
  height: 350px;
  width: 50%;
  border: 1px solid silver;
  padding: 1rem;
  overflow: scroll;
}

.pakingAreaSelectBox {
  border: 1px solid silver;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.areaClicked {
  background-color: lightcyan;
  font-weight: bolder;
}

.dateClicked {
  background-color: lightcyan;
  font-weight: bolder;
}

.ParkingFeeText,
.areaNameText {
  pointer-events: none;
}

#top {
  width: 100%;
  background-color: rgb(107, 107, 107);
  height: 35px;
}

#topmenu {
  margin-top: 0px;
  height: 35px;
}

.horizontalCalenderContainer {
  margin-top: 3rem;
  padding: 1rem;
  border: 1px solid silver;
  align-items: center;
}

.selectedYear {
  margin: 0rem 0.5rem;
  font-size: larger;
  font-weight: bold;
}

.selectedMonth {
  margin: 0rem 0.5rem;
  font-size: larger;
  font-weight: bold;
}

.dateSat {
  color: blue;
}

.dateSun {
  color: crimson;
}

.exdate {
  color: darkgrey;
}

.date:hover,
.dateSat:hover,
.dateSun:hover {
  background-color: rgb(150, 150, 150);
  cursor: pointer;
}

.dates {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  font-size: larger;
}

.dates > div {
  padding: 3px;
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
}

.datesContainer {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 0rem 5rem;
}

.calenderHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.selectedInfoContainer {
  display: flex;
  margin-top: 3rem;
  padding: 1rem;
  border: 1px solid silver;
  align-items: center;
  justify-content: space-around;
}

.selectedAreaImgContainer {
  height: 20rem;
  width: 20rem;
  border: 1px solid silver;
}

.selectedAreaImg {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

.selectedInfoTextContainer {
  margin-left: 2rem;
}

.selectedInfoTitleText {
  font-size: 1.5rem;
  font-weight: bolder;
  margin: 1rem;
}

.selectedInfoText {
  font-size: 1.5rem;
  margin: 1rem;
}

#selectedStartDate,
#selectedEndDate {
  min-width: 7.5rem;
}
