<div style="margin: 15px">
  <h3 class="ui dividing header">
    A 구역[느티나무]<font size="2px" style="margin-left: 5px"
      >(클릭하시면 확대해 보실수 있습니다.)</font
    >
  </h3>
  <% if(data[6].picture==""){ %>
  <p>등록된 사진이 없습니다.</p>
  <% }else{ var arr = JSON.parse(data[6].picture); arr.forEach((item,index)=>{ var i = index+1;
  if(i==1 || i%3==1){ %>
  <div class="ui link three stackable cards" style="margin-bottom: 15px">
    <% } %>
    <div class="card" style="width: 250px; height: 140px">
      <div class="image">
        <img src="/camp_image/<%=item.filename %>" style="width: 250px; height: 140px" />
      </div>
    </div>
    <% if(i==arr.length||i%3==0){ %>
  </div>
  <% } }); } %>
  <table class="ui single line structured table" style="width: 100%; text-align: center">
    <thead>
      <tr>
        <th>구분</th>
        <th>시설 개수</th>
        <th>기준 인원</th>
        <th>성수기요금</th>
        <th>비수기요금</th>
        <th style="width: 20%">옵션</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>A구역</td>
        <td><%= data[6].room_cnt %>개</td>
        <td><%= data[6].standnum %>명</td>
        <td><%= data[6].room_peakcharge %></td>
        <td><%= data[6].room_lowcharge %></td>
        <td><%= data[6].coption %></td>
      </tr>
    </tbody>
  </table>
  <div class="ui segment" id="pagetext"><%- data[6].pagetext %></div>
  <h3 class="ui dividing header" style="margin-top: 70px">
    B 구역[편백나무]<font size="2px" style="margin-left: 5px"
      >(클릭하시면 확대해 보실수 있습니다.)</font
    >
  </h3>
  <% if(data[5].picture==""){ %>
  <p>등록된 사진이 없습니다.</p>
  <% }else{ var arr = JSON.parse(data[5].picture); arr.forEach((item,index)=>{ var i = index+1;
  if(i==1 || i%3==1){ %>
  <div class="ui link three stackable cards" style="margin-bottom: 15px">
    <% } %>
    <div class="card" style="width: 250px; height: 140px">
      <div class="image">
        <img src="/camp_image/<%=item.filename %>" style="width: 250px; height: 140px" />
      </div>
    </div>
    <% if(i==arr.length||i%3==0){ %>
  </div>
  <% } }); } %>
  <table class="ui single line structured table" style="width: 100%; text-align: center">
    <thead>
      <tr>
        <th>구분</th>
        <th>시설 개수</th>
        <th>기준 인원</th>
        <th>성수기요금</th>
        <th>비수기요금</th>
        <th style="width: 20%">옵션</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>B구역</td>
        <td><%= data[5].room_cnt %>개</td>
        <td><%= data[5].standnum %>명</td>
        <td><%= data[5].room_peakcharge %></td>
        <td><%= data[5].room_lowcharge %></td>
        <td><%= data[5].coption %></td>
      </tr>
    </tbody>
  </table>
  <div class="ui segment" id="pagetext"><%- data[5].pagetext %></div>
  <h3 class="ui dividing header" style="margin-top: 70px">
    데크<font size="2px" style="margin-left: 5px">(클릭하시면 확대해 보실수 있습니다.)</font>
  </h3>
  <% if(data[3].picture==""){ %>
  <p>등록된 사진이 없습니다.</p>
  <% }else{ var arr = JSON.parse(data[3].picture); arr.forEach((item,index)=>{ var i = index+1;
  if(i==1 || i%3==1){ %>
  <div class="ui link three stackable cards" style="margin-bottom: 15px">
    <% } %>
    <div class="card" style="width: 250px; height: 140px">
      <div class="image">
        <img src="/camp_image/<%=item.filename %>" style="width: 250px; height: 140px" />
      </div>
    </div>
    <% if(i==arr.length||i%3==0){ %>
  </div>
  <% } }); } %>
  <table class="ui single line structured table" style="width: 100%; text-align: center">
    <thead>
      <tr>
        <th>구분</th>
        <th>시설 개수</th>
        <th>기준 인원</th>
        <th>성수기요금</th>
        <th>비수기요금</th>
        <th style="width: 20%">옵션</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>데크</td>
        <td><%= data[3].room_cnt %>개</td>
        <td><%= data[3].standnum %>명</td>
        <td><%= data[3].room_peakcharge %></td>
        <td><%= data[3].room_lowcharge %></td>
        <td><%= data[3].coption %></td>
      </tr>
    </tbody>
  </table>
  <div class="ui segment" id="pagetext"><%- data[3].pagetext %></div>
</div>
<div style="height: 100px"></div>

<script>
  function deleteModal() {
    $(".ui.basic.modal").each(function () {
      $(this).remove();
    });
  }
  $(".image").click(function () {
    // Delete any modals hanging around
    deleteModal();
    var image = $(this).children("img").attr("src");
    $("body").append(
      '<div class="ui basic modal"><div class="content"><img src="' +
        image +
        '" width="100%" /></div><div class="actions"><div class="ui red basic cancel inverted button">닫기</div></div></div>'
    );
    $(".ui.basic.modal").modal("show");
  });
</script>
